.submit-area {
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

.img-area {
    margin-top: 55px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 5px;
}

.bsub {
    width: 100%;
}

.box {
    background-color: aliceblue;
    margin-top: 5%;
    padding: 2%;

}



.animated-text .text-span {
    position: relative;
}

.animated-text .text-span::before {
    content: "Friends.";
    color: #28a745;
    animation: words 20s infinite;
    line-height: 1.5;
    font-size: 1.2em;




}







.animated-text .text-span::after {
    content: "";
    position: relative;
    width: 10px;
    height: 100%;
    background-color: aliceblue;
    border-left: 2px solid #28a745;
    right: -5px;
    animation: cursor .8s infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid aliceblue;
        animation-duration: 1.5s;


    }
}

@keyframes words {

    0%,
    25% {
        content: "Friends.";
    }

    26%,
    50% {
        content: "Classmates.";

    }

    51%,
    75% {
        content: "Seniors.";

    }

    76%,
    100% {
        content: "Juniors.";

    }

}